@{
    Layout = "~/Views/Shared/_TournamentLayout.cshtml";
}

<div class="container-full">
    <div class="match-list">
        <div class="round-name upcoming">Trận đấu sắp tới</div>
        <div class="table-overflow">
            <table class="round-table">
                <tr>
                    <th class="text-center">#</th>
                    <th>Bàn</th>
                    <th class="text-center">Trận đấu</th>
                    <th colspan="5" class="text-center">Cặp đấu</th>
                    <th class="text-center">Chạm</th>
                    <th class="text-center">Thắng</th>
                    <th class="text-center">Thua</th>
                    <th class="text-center">Thời gian dự kiến</th>
                </tr>
                <tr>
                    <td class="match-number">1</td>
                    <td class="match-table">Bàn 1</td>
                    <td class="match-race">2</td>
                    <td class="match-player justify-content-end">
                        <span class="m-0">Nam Vũ</span>
                    </td>
                    <td class="match-img">
                        <img src="/Images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-vs text-center">vs.</td>
                    <td class="match-img">
                        <img src="/Images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-player">
                        <span>Vũ Đoàn Nam Thu</span>
                    </td>
                    <td class="match-race">7</td>
                    <td class="match-race">#17</td>
                    <td class="match-race">#32</td>
                    <td class="match-time">
                        <div>11:00 - 12:00</div>
                        <div>22/02/2024</div>
                    </td>
                </tr>
                <tr>
                    <td class="match-number">1</td>
                    <td class="match-table">Bàn 1</td>
                    <td class="match-race">2</td>
                    <td class="match-player justify-content-end">
                        <span class="m-0">Nam Vũ</span>
                    </td>
                    <td class="match-img">
                        <img src="/Images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-vs text-center">vs.</td>
                    <td class="match-img">
                        <img src="/Images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-player">
                        <span>Vũ Đoàn Nam Thu</span>
                    </td>
                    <td class="match-race">7</td>
                    <td class="match-race">#17</td>
                    <td class="match-race">#32</td>
                    <td class="match-time">
                        <div>11:00 - 12:00</div>
                        <div>22/02/2024</div>
                    </td>
                </tr>
                <tr>
                    <td class="match-number">1</td>
                    <td class="match-table">Bàn 1</td>
                    <td class="match-race">2</td>
                    <td class="match-player justify-content-end">
                        <span class="m-0">Nam Vũ</span>
                    </td>
                    <td class="match-img">
                        <img src="/Images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-vs text-center">vs.</td>
                    <td class="match-img">
                        <img src="/Images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-player">
                        <span>Vũ Đoàn Nam Thu</span>
                    </td>
                    <td class="match-race">7</td>
                    <td class="match-race">#17</td>
                    <td class="match-race">#32</td>
                    <td class="match-time">
                        <div>11:00 - 12:00</div>
                        <div>22/02/2024</div>
                    </td>
                </tr>
                <tr>
                    <td class="match-number">1</td>
                    <td class="match-table">Bàn 1</td>
                    <td class="match-race">2</td>
                    <td class="match-player justify-content-end">
                        <span class="m-0">Nam Vũ</span>
                    </td>
                    <td class="match-img">
                        <img src="/Images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-vs text-center">vs.</td>
                    <td class="match-img">
                        <img src="/Images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-player">
                        <span>Vũ Đoàn Nam Thu</span>
                    </td>
                    <td class="match-race">7</td>
                    <td class="match-race">#17</td>
                    <td class="match-race">#32</td>
                    <td class="match-time">
                        <div>11:00 - 12:00</div>
                        <div>22/02/2024</div>
                    </td>
                </tr>
                <tr>
                    <td class="match-number">1</td>
                    <td class="match-table">Bàn 1</td>
                    <td class="match-race">2</td>
                    <td class="match-player justify-content-end">
                        <span class="m-0">Nam Vũ</span>
                    </td>
                    <td class="match-img">
                        <img src="/Images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-vs text-center">vs.</td>
                    <td class="match-img">
                        <img src="/Images/VietNamFlag.png" alt="">
                    </td>
                    <td class="match-player">
                        <span>Vũ Đoàn Nam Thu</span>
                    </td>
                    <td class="match-race">7</td>
                    <td class="match-race">#17</td>
                    <td class="match-race">#32</td>
                    <td class="match-time">
                        <div>11:00 - 12:00</div>
                        <div>22/02/2024</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>