<div class="container">
    <div class="gameRule">
        <div class="gameRule-nav d-flex">
            <button class="eight-ball active">8 bi</button>
            @*<button class="nine-ball mx-2">9 bi</button>*@
            <button class="ten-ball mx-2">10 bi</button>
        </div>
        <div class="gameRule-body">
            <div class="source-title">
                Quy tắc trò chơi từ Liên đoàn Billiard</a>
            </div>
            <!--8 bi-->
            <div class="eight-rule d-flex justify-content-center">
                <div class="rule-body">
                    <div class="pt-5">
                        <div class="rule-title">Luật thi đấu pool 8 balls - Bida 8 bóng - Đánh sọc trơn</div>
                        <div class="rule-description">
                            Trên bàn có tổng cộng 15 bi mục tiêu và 1 bi cái, các bi mục tiêu được đánh số từ 1 đến 15. Mục tiêu của cơ thủ là đánh hết nhóm bi của mình và bi số 8 màu đen. Sau đây là luật thi đấu pool 8 ball theo chuẩn quốc tế
                        </div>
                        <div class="d-flex justify-content-center align-items-center my-5">
                            <img class="rule-image" src="https://8ball-pool.io/data/image/8-ball-banner.jpg" />
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">1. Mục tiêu của trận đấu</div>
                        <div class="rule-description">
                            Nội dung bida 8 bóng là 1 nội dung có cú đánh gọi được chơi với 1 bi cái và 15 bi mục tiêu được đánh số từ 1 đến 15. Một cơ thủ phải đưa vào lỗ 1 nhóm bi được đánh số từ 1 đến 7 (bi màu) trong khi cơ thủ khác phải đưa vào lỗ 1 nhóm bi khác được đánh số từ 9 đến 15 (bi khoang/bi sọc). Cơ thủ nào đánh hết nhóm bi của mình sau đó đánh bi số 8 vào lỗ một cách hợp lệ thì thắng luôn ván đó
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">2. Cú đánh gọi</div>
                        <div class="rule-description">
                            Trong cú đánh gọi, các bi và lỗ không cần thiết phải chi 1 cách rõ ràng (tuy nhiên trong thực tế thi đấu những cú đánh đơn giản và quá rõ ràng thì đấu thủ không càn phải gọi, còn những cú đánh phức tạp thì đấu thủ bắt buộc phải báo trước bi và lỗ được gọi).
                            Khi gọi cú đánh, không cần thiết phải chi rõ các chi tiết như số lần chạm băng, chạm bi.
                            Bất cứ bi nào được đưa vào lỗ sau 1 cú đánh phạm luật vẫn không được đặt lại bất kể chúng thuộc về người đánh hay đối thủ (cần phân biệt giữa lỗi mất lượt cơ và lỗi bị phạt).
                            Cú đánh khai cuộc không phải cú đánh gọi. Cơ thủ đánh khai cuộc ở nội dung này có thể tiếp tục đánh sau khi đưa vào lỗ bất cứ bi mục tiêu nào trong cú đánh khai cuộc hợp lệ
                        </div>

                        <div class="d-flex justify-content-center align-items-center my-5">
                            <img class="rule-image" src="https://upatour.com/wp-content/uploads/2019/11/UPA-8-Ball-Rules.gif" />
                        </div>



                    </div>

                    <div class="pt-5">
                        <div class="rule-title">3. Xếp bi</div>
                        <div class="rule-description">
                            Bi được xếp trong khuôn tam giác với bi số 8 nằm giữa tam giác. Một bi mục tiêu ở đầu tam giác được đặt trên điểm cuối bàn và hai góc còn lại phải là 1 bi màu (bi trơn) và 1 bi khoang (bi sọc)
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">4. Thứ tự của cú đánh khai cuộc</div>
                        <div class="rule-description">
                            Người thắng trong lần thi giành quyền khai cuộc sẽ khai cuộc. Trong nội dung bida 8 bóng, người thắng mỗi ván sẽ khai cuộc ở ván tiếp theo trừ khi có những quy định khác của ban tổ chức bida cụ thể như:
                            <ul>
                                <li>Cơ thủ luân phiên khai cuộc</li>
                                <li>Cơ thủ thua khai cuộc</li>
                                <li>Cơ thủ thắng khai cuộc</li>
                            </ul>
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">5. Khai cuộc đúng luật</div>
                        <div class="rule-description">
                            Để khai cuộc đúng luật, người khai cuộc với bi cái ở sau lằn ngang đầu bàn phải làm sao để đưa bi mục tiêu vào lỗ hoặc ít nhất có 4 bi mục tiêu chạm băng, nếu không thực hiện được những điều trên thì xem như là phạm luật. Cơ thủ tiếp theo có thể chọn giữa đồng ý đánh tiếp với vị trí được giữ nguyên hoặc yêu cầu xếp lại bi để thực hiện cú đánh khai cuộc hay có thể yêu cầu đối thủ khai cuộc lại.
                            <ul>
                                <li>Trong nội dung này không nhất thiết khi khai cuộc bi cái phải chạm bi mục tiêu đầu tiên (đặt tại điểm cuối bàn)</li>
                                <li>Cú khai cuộc không được coi là cú đánh gọi. Nếu bất cứ bi mục tiêu nào được đưa vào lỗ trong 1 cú đánh khai cuộc hợp lệ thì cơ thủ đó sẽ tiếp tục lượt cơ của mình và bàn vẫn mở</li>
                            </ul>
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">6. Bi cái vào lỗ trong cú đánh khai cuộc</div>
                        <div class="rule-description">
                            Nếu cú khai cuộc đấu thủ đánh bi cái vào lỗ thì bị xem như là lỗi và tất cả bi mục tiêu được đưa vào lỗ sẽ không được đặt lại ngoại trừ bi số 8, và bàn vẫn mở
                            Cơ thủ tiếp theo sẽ có bi cái trong tay được đặt sau lằn ngang đầu bàn và không thể đánh bất cứ bi mục tiêu nào nằm sau lằn ngang đầu àn trừ khi đấu thủ đánh bi cái qua lằn ngang đầu bàn sau đó quay lại sau lằn ngang chạm vào bi mục tiêu.
                            Nếu phần tiếp xúc của bi mục tiêu nằm ngay giữa lằn ngang đầu bàn thì nó vẫn được coi như nằm phía trên lằn ngang đầu bàn.
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">7. Bi mục tiêu rơi khỏi bàn trong cú đánh khai cuộc</div>
                        <div class="rule-description">
                            Nếu đấu thủ làm rơi bi mục tiêu ra khỏi bàn trong cú đánh khai cuộc thì đó bị xem như là lỗi. Những bi mục tiêu đó sẽ không được đặt trở lại và đấu thủ tiếp theo sẽ được chọn giữa chấp nhận đánh tiếp với vị trí do đấu thủ trước để lại hoặc yêu cầu rời bi cái về sau lằn ngang đầu bàn.

                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">8. Bi số 8 vào lỗ trong cú đánh khai cuộc</div>
                        <div class="rule-description">
                            Nếu bi số 8 được đưa vào lỗ trong cú đánh khai cuộc thì đấu thủ vừa khai cuộc có thể yêu cầu khai cuộc lại hoặc yêu cầu đặt bi số 8 vào điểm quy định và tiếp tục đánh.
                            Nếu đấu thủ phạm luật trong cú đánh khai cuộc mà bi số 8 được đưa vào lỗ thì đấu thủ tiếp theo có thể chọn giữa yêu cầu khai cuộc lại hoặc yêu cầu đặt bi số 8 vào điểm quy định và tiếp tục đánh với bi cái trong tay ở sau lằn ngang đầu bàn.
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">9. Bàn mở</div>
                        <div class="rule-description">
                            Bàn để mở khi việc chọn các nhóm bi (sọc hay trơn) chưa được xác định. Khi bàn để mở thì bi cái chạm bi màu (trơn) trước bi khoang (sọc) hay ngược lại đều hợp lệ.
                            Bàn luôn luôn để mở ngay sau cú khai cuộc. Khi bàn để mở thì đánh vào bi sọc hay trơn trước trong quá trình đưa vào lỗ một bi sọc hay trơn đều hợp lệ
                            Tuy nhiên, khi bàn để mở và bi số 8 là bi được chạm đầu tiên thì không có bi màu hay khoang nào được tính cho đâu thủ đó và coi như là lỗi
                            Cơ thủ đó sẽ bị mất lượt, không bi nào vào lỗ được đặt lại và cơ thủ tiếp theo sẽ tiếp tục đánh với bàn vẫn mở. Trong bàn để mở thì tất cả những bi đã vào lỗ không hợp lệ đều không được đặt lại.
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">10. Chọn nhóm</div>
                        <div class="rule-description">
                            Việc chọn nhóm bi sọc hay bi trơn không được xác định ở cú khai cuộc thậm chí ngay cả khi cơ thủ đã đưa vào lỗ một hay cả hai nhóm bi, bởi vì bàn vẫn luôn mở sau cú khai cuộc. Việc chọn nhóm chỉ được xác định sau khi cú đánh khai cuộc đấu thủ đưa vào lỗ một cách hợp lệ bi được gọi.
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">11. Cú đánh hợp lệ</div>
                        <div class="rule-description">
                            Tất cả các cú đánh (ngoại trừ cú đánh khai cuộc và khi bàn để mở), cơ thủ phải đánh đúng nhóm bi của mình trước và đưa vào lỗ một bi mục tiêu hoặc làm cho bi cái hay bất cứ bi mục tiêu nào khác phải chạm băng.
                            Cơ thủ có quyền đánh bi cái vào băng trước khi chạm bi mục tiêu trong nhóm của mình, tuy nhiên sau khi chạm bi mục tiêu thì bi mục tiêu này phải vào lỗ hoặc bi cái hay bất cứ bi mục tiêu khác phải chạm băng. Không đáp ứng được những yêu cầu này thì coi như là phạm lỗi
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">12. Đánh an toàn</div>
                        <div class="rule-description">
                            Vì lý do chiến thuật, cơ thủ có thể đưa vào lỗ một bi mục tiêu rõ ràng và cũng không tiếp tục lượt cơ của mình bằng cách tuyên bố “đánh an toàn” trước. Cú đánh an toàn được định nghĩa là cú đánh hợp lệ. Nếu cơ thủ quyết định đánh an toàn bằng cách đưa vào lỗ một bi mục tiêu rõ ràng thì trước khi đánh phải tuyên bố “đánh an toàn” với cơ thủ của mình. Vì nếu như không tuyên bố trước cơ thủ đó sẽ có thể được yêu cầu đánh tiếp bất cứ bi mục tiêu nào được đưa vào lỗ trong cú đánh an toàn đều không được đặt lại.
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">13. Ghi điểm</div>
                        <div class="rule-description">
                            Một cơ thủ có quyền đánh tiếp cho tới khi không đưa được một trong nhóm bi của mình vào lỗ hợp lệ.
                            Sau khi đấu thủ đánh vào lỗ hợp lệ hết tất cả nhóm bi của mình cơ thủ đó đưa bi số 8 vào lỗ.
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">14. Phạt khi phạm lỗi (penalty)</div>
                        <div class="rule-description">
                            Cơ thủ tiếp theo có bi cái trong tay. Điều này có nghĩa rằng cơ thủ đó có thể đặt bi cái ở bất cứ đâu. Điều luật này nhằm  ngăn cơ thủ cố tình phạm lỗi để đưa đối thủ của mình vào thế bất lợi. Với bi cái trong tay, cơ thủ có thể dùng tay hoặc cơ (trừ đầu da) để định vị bi cái.
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">15. Đánh kết hợp</div>
                        <div class="rule-description">
                            Đánh kết hợp là được cho phép, tuy nhiên bi số 8 và nhóm bi mục tiêu của đối phương sẽ không phải là mục tiêu đầu tiên chạm của bi cái (ngoại trừ bàn để mở thì bi số 8 cũng không được chạm đầu tiên)
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">16. Bi vào lỗ không hợp lệ</div>
                        <div class="rule-description">
                            Một bi mục tiêu được xem như vào lỗ không hợp lệ khi:
                            <ul>
                                <li>Bi mục tiêu được đưa vào lỗ trong 1 cú đánh phạm luật.</li>
                                <li>Bi mục tiêu được gọi không vào lỗ đã được chỉ định.</li>
                                <li>Đã tuyên bố “đánh an toàn” trước khi đánh.</li>
                            </ul>
                            Tất cả bi mục tiêu được đưa vào lỗ không hợp lệ đều không được đặt lại.
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">17. Bi mục tiêu rơi khỏi bàn</div>
                        <div class="rule-description">
                            Nếu bất cứ bi mục tiêu nào rơi khỏi bàn thì coi như là lỗi và cơ thủ sẽ bị mất lượt. Nếu bi đó là bi số 8 thì sẽ bị xử thua ván đó. Bi mục tiêu nào rơi khỏi bàn sẽ không được đặt lại.
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">18. Đánh bi số 8</div>
                        <div class="rule-description">
                            Khi bi số 8 là bi mục tiêu hợp lệ thì đánh bi cái vào lỗ hay phạm lỗi không phải là thua ván đó nếu bi số 8 không vào lỗ hay rơi ra khỏi bàn. Cơ thủ tiếp theo sẽ có bi cái trong tay.<br />
                            <em>*Chú ý:</em> Một cú đánh kết hợp không bao giờ được dùng như một cú đánh hợp lệ để đưa bi số 8 vào lỗ, trừ khi bi số 8 là bi mục tiêu đầu tiên được chạm trong cú đánh.
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">19. Thua ván đấu</div>
                        <div class="rule-description">
                            Một cơ thủ bi thua ván đấu khi vi phạm trong bất cứ điều nào sau đây:
                            <ul>
                                <li>Phạm lỗi khi đánh bi số 8 vào lỗ</li>
                                <li>Đánh bi số 8 vào lỗ trong cùng cú đánh như là bi mục tiêu cuối cùng trong nhóm bi mục tiêu của mình</li>
                                <li>Làm bi số 8 rơi khỏi bàn bất cứ lúc nào</li>
                                <li>Đánh bi số 8 vào lỗ khác với lỗ được chỉ định</li>
                                <li>Đánh bi số 8 vào lỗ khi nó không phải là bi mục tiêu hợp lệ</li>
                            </ul>
                            <em>*Chú ý:</em> Tất cả những vi phạm trên phải được gọi trước khi thực hiện 1 cú đánh khác, nếu không đó được xem như là không có vi phạm nào xảy ra.
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">20. Ván đấu bế tắc</div>
                        <div class="rule-description">
                            Nếu như sau 3 lượt cơ liên tiếp của mỗi cơ thủ (tổng công 6 lượt) thì trọng tài nhận định là sự cố gắng đánh vào lỗ hoặc di chuyển 1 bi mục tiêu nào sẽ dẫn đến thua ván đấu, bi sẽ được xếp lại và cơ thủ khai cuộc ván đó sẽ khai cuộc lại
                            Điều luật về sự bế tắc được áp dụng mà không cần chú ý tới số lượng bi còn lại trên bàn trong suốt ván đấu và cần sự đồng ý của cả 2 cơ thủ <br />
                            <em>*Chú ý:</em> Ba lần phạm lỗi liên tiếp trong 1 ván đấu không phải là thua ván đấu
                        </div>
                    </div>
                </div>
            </div>
            <!--9 bi-->
            <div class="nine-rule d-none justify-content-center">
                <div class="rule-body">
                    <div class="pt-5">
                        <div class="rule-title">Luật thi đấu Pool 9 Balls - bida 9 bóng</div>

                        <div class="d-flex justify-content-center align-items-center my-5">
                            <img class="rule-image" src="https://blattbilliards.com/cdn/shop/articles/9-balls-on-a-blue-cloth-and-a-billiard-cue-and-white-spoted-cue-ball-with-red-dots_1024x1024.jpg?v=1645801118" />
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">1. Mục tiêu trận đấu</div>
                        <div class="rule-description">
                            Trong thi đấu pool 9 ball, các bi mục tiêu được đánh số thứ tự từ 1  đến 9 và 1 bi cái. Bi mục tiêu cho mỗi cú đánh mà bi cái chạm đầu tiên là bi có chỉ số thấp nhất trên bàn, tuy nhiên những bi mục tiêu vào lỗ không nhất thiết phải theo thứ tự này.

                            Sau cú đánh trượt của cơ thủ đi trước, cơ thủ tiếp theo phải đánh những bi còn lại trên bàn theo quy định trên. Nếu cơ thủ đi trước phạm lỗi thì cơ thủ tiếp theo được quyền bắt đầu lượt cơ của mình với bi cái ở bất cứ vị trí nào trên bàn. Trận đấu kết thúc khi một trong hai cơ thủ thắng đủ số ván theo quy định của trận đấu
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">2. Xếp bi khai cuộc</div>
                        <div class="rule-description">
                            Các bi mục tiêu được xếp thành hình thoi trong khuôn tam giác với bi số 1 nằm ở đỉnh hình thoi và ở trên điểm cuối bàn, bi số 9 ở chính giữa hình thoi và các bi còn lại được xếp xung quanh. Bi được xếp  càng chặt càng tốt. Trận đấu được bắt đầu với bi cái trong tay và được đặt ở sau lằn ngang đầu bàn
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">3. Thứ tự của cú đánh khai cuộc</div>
                        <div class="rule-description">
                            Người thắng trong lần thi giành quyền khai cuộc. Trong nội dung 9 bi người thắng mỗi ván sẽ khai cuộc ở ván tiếp theo trừ khi có những quy định khác của ban tổ chức cụ thể như:
                            <ul>
                                <li> Đấu thủ luân phiên khai cuộc</li>
                                <li> Đấu thủ thua khai cuộc</li>
                                <li> Đấu thủ thắng khai cuộc</li>
                            </ul>
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">4. Cú đánh hợp lệ</div>
                        <div class="rule-description">
                            Đấu thủ phải dùng bi cái đánh trực tiếp vào bi số 1. Cú đánh khai cuộc hợp lệ khi có bi mục tiêu vào lỗ hoặc ít nhất 4 bi mục tiêu chạm băng

                            Trong cú khai cuộc, bi cái vào lỗ hay nhảy ra khỏi bàn hoặc những quy định của cú khai cuộc không được bảo đảm thì xem như là lỗi. Cơ thủ không được đảm bảo thì xem như là lỗi. Đấu thủ tiếp theo sẽ bắt đầu lượt đánh của mình với bi cái trong tay ở bất cứ bị trí nào trên bàn.

                            Trong cú đánh khai cuộc, nếu có một hay nhiều bi mục tiêu nhảy ra khỏi bàn thì bị xem như lỗi và đấu thủ tiếp theo sẽ bắt đầu lượt cơ của mình với bi cái trong tay ở bất cứ vị trí nào trên bàn. Những bi mục tiêu sẽ không được đặt trở lại ngoại trừ bi số 9
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">5. Tiến trình của trận đấu</div>
                        <div class="rule-description">
                            Sau cú đánh khai cuộc hợp lệ, cơ thủ được quyền chơi một cú đánh an toàn (Push out)

                            Nếu cơ thủ đánh cú khai cuộc hợp lệ và có 1 hay nhiều bi mục tiêu vào lỗ thì sẽ tiếp tục đánh cho tới khi trượt, lỗi hoặc thắng ván đó.

                            Ván đấu kết thúc khi bi số 9 được đưa vào lỗ trong 1 cú đánh hợp lệ.
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">6. Đánh an toàn</div>
                        <div class="rule-description">
                            Cơ thủ đánh ngay sau 1 cú khai cuộc hợp lệ có thể chơi 1 cú an toàn với mục đích đưa bi cái đến vị trí tốt hơn cho những đường bi sau.<br />
                            Trong cú đánh an toàn, bi cái không nhất thiết phải chạm bi mục tiêu hoặc chạm băng, nhưng những điều luật phạm lỗi vẫn được áp dụng.<br />

                            Cơ thủ phải tuyên bố trước khi đánh là mình quyết định đánh an toàn, nếu không thì cú đánh đó được xem như là 1 cú đánh bình thường<br />

                            Bi mục tiêu được đưa vào lỗ trong cú đánh an toàn sẽ không được tính và không được đặt trở lại trừ bi số 9.<br />

                            Sau cú đánh an toàn của cơ thủ đi trước, cơ thủ tiếp theo có thể bắt đầu lượt cơ của mình với vị trí của  bi cái do cơ thủ trước để lại hoặc có thể yêu cầu cơ thủ vừa đánh an toàn đánh tiếp.<br />

                            Cú đánh an toàn không bị xem là phạm luật<br />

                            Sau cú đánh khai cuộc không hợp lệ, đấu thủ tiếp theo có quyền bắt đầu lượt cơ của mình với bi cái trong tay ở bất cứ bị trí nào trên bàn.<br />

                            Sau cú đánh khai cuộc không hợp lệ thì đấu thủ tiếp theo không thể chơi an toàn.
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">7. Phạm lỗi</div>
                        <div class="rule-description">
                            Khi một cơ thủ phạm luật, lượt cơ của cơ thủ đó chấm dứt.Không bị mục tiêu nào trong cú đánh phạm lỗi được đặt lại ngoại trừ bi số 9. Đấu thủ tiếp theo bắt đầu lượt cơ với bi cái trong tay ở bất cứ vị trí nào trên bàn. Nếu phạm lỗi nhiều trong cùng 1 cú đánh thì cũng chỉ xem như 1 lần phạm lỗi.
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">8. Chạm bi trái phép</div>
                        <div class="rule-description">
                            Nếu bi mục tiêu trong lần va chạm đầu tiên của bi cái trong một cú đánh không phải bi có chỉ số thấp nhất trên bàn là phạm lỗi
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">9. Bi cái không chạm băng</div>
                        <div class="rule-description">
                            Sau khi đánh bi cái vào bi mục tiêu, không có bi mục tiêu rơi vào lỗ mà bi cái hay bất cứ bi mục tiêu nào khác không chạm băng thì cú đánh đó được xem như phạm luật.
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">10. Bi cái trong tay</div>
                        <div class="rule-description">
                            Khi bi cái trong tay thì đấu thủ có quyền đặt bi cái ở bất cứ vị trí nào trên bàn nhưng không được chạm vào bi mục tiêu. Cơ thủ có thể tiếp tục di chuyển bi cái cho đến khi thực hiện cú đánh.
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">11. Bi mục tiêu rơi khỏi bàn</div>
                        <div class="rule-description">
                            Bi mục tiêu được xem như là rơi khỏi bàn khi nó nằm ở bất cứ vị trí nào ngoài mặt bàn. Đánh bi mục tiêu rơi khỏi bàn bị xem như phạm luật. Bi mục tiêu rơi khỏi bàn không được nhặt lại ngoại trừ bi số 9
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">12. Phạm lỗi 3 lần liên tục</div>
                        <div class="rule-description">
                            Nếu cơ thủ phạm lỗi 3 lần liên tục trong 3 cú đánh mà không thực hiện được 1 cú đánh hợp lệ thì đấu thủ đó sẽ bị xử thua ván đấu đó, 3 lần phạm lỗi liên tục đó phải xảy ra trong 1 ván. Lời cảnh báo sẽ được đưa ra ở giữa lần phạm lỗi thứ 2 và thứ 3.
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">13. Đặt bi số 9</div>
                        <div class="rule-description">
                            Không có bi nào vào lỗ sau cú đánh phạm luật và bi nhảy ra khỏi bàn được đặt lại ngoại trừ bi số 9. Bi số 9 sẽ được đặt lại tại điểm cuối bàn. Trong khi đặt bi số 9, nếu xung quanh điểm cuối bàn có bi nằm cản trở thì sẽ được đặt phía trên lằn dọc cuối bàn gần với điểm cuối bàn nhất mà không được di chuyển những bi làm cản trở. Bi số 9 được đặt phải dính vào bi làm cản trở.
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">14. Chấm dứt trận đấu</div>
                        <div class="rule-description">
                            Mỗi trận đấu được bắt đầu khi bi cái lăn qua lằn ngang đầu bàn trong cú khai cuộc. Bi số 1 phải là bi mục tiêu đầu tiên được bi cái chạm trong cú đánh khai cuộc. Ván đấu được chấm dứt khi bi số 9 được đưa vào lỗ trong cú đánh hợp lệ hoặc khi cơ thủ bị tước quyền thi đấu vì phạm luật.
                        </div>
                    </div>
                </div>
            </div>

            <!--10 bi-->
            <div class="ten-rule d-none justify-content-center">
                <div class="rule-body">
                    <div class="pt-5">
                        <div class="rule-title">Luật thi đấu Pool 10 balls</div>
                        <div class="rule-description">
                            Luật thi đấu billiards pool 10 bi có hiệu lực từ ngày 1/1/2009. Nội dung này đã được đưa vào chương trình thi đấu của SEA Games 31 tại Việt Nam. Pool 10 bi là trò chơi đánh bi chỉ / gọi lỗ với 10 bi mục tiêu đánh số từ 1 tới 10 và bi cái. Các bi được xếp theo thứ tự tăng dần và mỗi cú đánh được xem là hợp lệ đều phải đưa bi cái chạm vào bi có số thấp nhất. Nếu bi 10 được đưa vào lỗ sau cú phá bi hợp lệ, nó sẽ được đặt trở lại vào vị trí spot (điểm đặt bi số 1 khi khai cuộc) và người chơi tiếp tục lượt cơ.
                        </div>

                        <div class="d-flex flex-column align-items-center my-5">
                            <img class="rule-image" src="https://cdnmedia.webthethao.vn/uploads/Chau-La/bil-10-bi-Van-Boening-Dynaspheres-Cup-2202.jpg" />
                            <p class="image-caption mt-2">Van Boening từng vô địch Dynaspheres Cup 10 bi mà không thua trận nào.</p>
                        </div>

                        <div class="rule-description">
                            Ở mỗi cú đánh chỉ được gọi lỗ 1 bi, trừ cú phá bi không phải gọi lỗ bi nào (luật từ 2016 có thay đổi thêm thể thức: bi số 10 sẽ phải là bi đánh cuối cùng của ván đấu – nghĩa là nếu cộng bi 10 rơi xuống lỗ sẽ phải đặt trở lại).
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">1. Xác định quyền phá bi</div>
                        <div class="rule-description">
                            Người thi thủ (thi đề ba) thắng khi viên bi chủ đập vào băng ngắn đối diện nẩy về viên bi của ai gần băng ngắn nhất sẽ giành quyền phá bi ở ván đầu. Thông thường thì phá bi xen kẽ. Thi thủ (hay thi đề ba) không hợp lệ (xử thua cuộc) khi:
                            <ul>
                                <li>Bi chủ không chạm vào băng đối diện.</li>
                                <li>Bi chủ nẩy quá 2 lần một băng.</li>
                                <li>Bi chủ chạm vào băng dài.</li>
                                <li>Rơi vào lỗ.</li>
                                <li>Bay ra khỏi bàn.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">2. Xếp 10 bi</div>
                        <div class="rule-description">
                            Các bi mục tiêu được xếp càng sát càng tốt theo hình tam giác, với bi số 1 ở đỉnh và bi 10 nằm ở giữa tam giác. Các bi khác được đặt ngẫu nhiên.
                        </div>

                        <div class="d-flex flex-column align-items-center my-5">
                            <img class="rule-image" src="https://cdnmedia.webthethao.vn/uploads/Chau-La/bil-10-ball1-2202.jpg" />
                            <p class="image-caption mt-2">Cách xếp ở pool 10 bi.</p>
                        </div>


                    </div>

                    <div class="pt-5">
                        <div class="rule-title">3. Phá bi hợp lệ</div>
                        <div class="rule-description">
                            Các quy định phá bi như sau:<br />

                            (a) Bi cái được đặt ở sau lằn ngang đầu bàn.<br />

                            (b) Nếu không có bi vào lỗ, ít nhất phải có 4 bi mục tiêu chạm ít nhất 1 băng hoặc hơn, hoặc cú đánh đó bị xem như lỗi.
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">4. Cú đánh thứ 2 của một ván – chạy bi</div>
                        <div class="rule-description">
                            Nếu phá bi không có lỗi (cú phá hợp lệ), người chơi có thể chọn “chạy bi” (put out –cú đánh an toàn). Người chơi phải thông báo ý định đó cho trọng tài, nếu không sẽ bị mắc lỗi: đánh sai bóng hoặc bóng không chạm băng và bóng trong tay cho đối thủ.<br />

                            Nếu cú đánh an toàn không mắc lỗi, người chơi khác được chọn đánh tiếp hoặc nhường lại. Nếu đánh an toàn làm bi 10 vào lỗ thì được đặt trở lại và không bị phạt.
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">5. Gọi lỗ và bi vào lỗ</div>
                        <div class="rule-description">
                            Bất cứ khi nào muốn đưa bi vào lỗ (trừ lúc phá bi), người chơi đều phải chỉ lỗ. Bi mục tiêu và lỗ phải được xác định ở từng cú đánh, không quan tâm đánh thế nào hoặc bi khác có chạm hay vào lỗ không.

                            Ghi chú: hiện tại ở những giải của thế giới cũng như VN, các trọng tài có sự thống nhất để giúp cho các vận động viên thi đấu tập trung hơn:
                            <ul>
                                <li>Chỉ gọi lỗ khi: bi má mỏng, hướng bi mục tiêu từ 2 lỗ trở lên, bi giữa bàn, bi cộng, bi cân băng, bi a băng, nhảy bi, cong bi, mượn má bi, bi số 10.</li>
                                <li>Không cần thiết gọi lỗ khi: hướng bi một lỗ, gần lỗ.</li>
                            </ul>

                            <div class="d-flex flex-column align-items-center my-5">
                                <img class="rule-image" src="https://cdnmedia.webthethao.vn/uploads/Chau-La/bil-10-ball11-2202.jpg" />
                                <p class="image-caption mt-2">Một tình huống phải gọi lỗ bi.</p>
                            </div>
                        </div>
                    </div>


                    <div class="pt-5">
                        <div class="rule-title">6. Đánh an toàn</div>
                        <div class="rule-description">
                            Sau cú phá bi, người phá bi và đối thủ đều được quyền gọi đánh an toàn, cho phép đánh vào bi mục tiêu mà không cần phải vào lỗ và chấm dứt lượt cơ đó. Nhưng nếu người chơi đưa bi mục tiêu vào lỗ, người chơi kế tiếp có quyền đánh bi cái ở vị trí đối thủ để lại, hoặc nhường quyền đánh lại cho đối phương.
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">7. Bi không vào đúng lỗ</div>
                        <div class="rule-description">
                            Nếu người chơi đánh trượt bi gọi lỗ hoặc làm bi vào sai lỗ hay đánh bi khác vào lỗ, lượt cơ kết thúc và người chơi tiếp theo có quyền đánh hoặc nhường lại quyền đánh cho đối thủ.
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">8. Lượt chơi</div>
                        <div class="rule-description">
                            Nếu người chơi đưa bi được gọi vào đúng lỗ, bi khác vào lỗ đều giữ trong lỗ, ngoại trừ bi số 10, và người chơi tiếp tục đánh. Nếu gọi đánh bi số 10 hợp lệ, người chơi thắng ván đó ( luật mới là đặt bi 10 về vị trí và bi 10 sẽ là bi cuối cùng của ván đấu). Nếu người chơi không đưa được bi gọi vào lỗ hoặc phạm lỗi, quyền đánh chuyển cho người khác, và nếu tình huống đó không có lỗi, người đánh kế tiếp phải đánh bi cái từ vị trí đối thủ để lại.
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">9. Đặt lại bi</div>
                        <div class="rule-description">
                            Nếu quả bóng 10 vào lỗ do một lỗi đẩy cơ hoặc khi phá bi, hoặc không gọi lỗ, hoặc vô tình đánh sai lỗ, hoặc đánh bi ra khỏi bàn, nó sẽ được đặt trở lại. Các bi khác không được đặt lại.
                        </div>

                        <div class="d-flex flex-column align-items-center my-5">
                            <img class="rule-image" src="https://cdnmedia.webthethao.vn/uploads/Chau-La/bil-10-ball-Filler-2202.jpg" />
                            <p class="image-caption mt-2">Nhà vô địch US Open trẻ nhất lịch sử Joshua Filler tại một giải pool 10 bi.</p>
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">10. Những lỗi tiêu chuẩn</div>
                        <div class="rule-description">
                            Nếu cơ thủ phạm lỗi tiêu chuẩn, quyền đánh chuyển cho đối thủ. Cơ thủ được quyền đánh có thể đặt bi cái ở mọi nơi trên mặt bàn (bi trong tay). Sau đây là những lỗi tiêu chuẩn ở pool 10:
                            <ul>
                                <li>Đánh bi cái vào lỗ hoặc ra khỏi bàn.</li>
                                <li>Đánh sai bi. Bi mục tiêu đầu tiên mà bi cái chạm vào phải là bi có đánh số thấp nhất còn lại trên bàn.</li>
                                <li>Không chạm băng sau khi bi chạm nhau.</li>
                                <li>Đánh khi cả 2 chân rời khỏi bàn.</li>
                                <li>Thực hiện cú đánh nhảy không hợp lệ.</li>
                                <li>Chạm bi bằng bất cứ bộ phận nào.</li>
                                <li>Đánh bi cái nhiều hơn 1 lần.</li>
                                <li>Đẩy cơ (lùa lơ - đánh bi cái nhiều hơn 1 lần).</li>
                                <li>Đánh khi bất cứ 1 bi nào chưa dừng hẳn.</li>
                                <li>Đánh 1 bi khác không phải bi cái.</li>
                                <li>Để cơ chạm bàn.</li>
                                <li>Đánh khi không phải lượt.</li>
                                <li>Câu giờ.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">11. Những lỗi nghiêm trọng</div>
                        <div class="rule-description">
                            Phạm 3 lỗi liên tiếp, người chơi bị xử thua ván đó. Đối với Hành vi Phi thể thao 6.16, trọng tài sẽ chọn một hình phạt phù hợp với tính chất của hành vi vi phạm.
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="rule-title">12. Ván đấu bị bế tắc</div>
                        <div class="rule-description">
                            Nếu như sau 3 lượt cơ liên tiếp của mỗi đấu thủ (tổng cộng 6 lượt) thì trọng tài nhận định là sự cố gắng đánh vào lỗ hoặc di chuyển một bi mục tiêu nào sẽ dẫn đến thua ván đấu, bi sẽ được xếp lại và đấu thủ khai cuộc ván đó sẽ khai cuộc lại.

                            Điều luật về sự bế tắc có thể được áp dụng mà không cần chú ý tới số lượng bi còn lại trên bàn trong suốt ván đấu và cần sự đồng ý của cả 2 đấu thủ.
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>

    //Handle option menu
    const optionBtn = document.querySelector('.option-btn');
    const smallUser = document.querySelector('.small-user');

    let isMenuVisible = false;

    optionBtn.addEventListener('click', () => {
        if (isMenuVisible) {
            smallUser.style.display = 'none';
        } else {
            smallUser.style.display = 'flex';
        }

        isMenuVisible = !isMenuVisible;
    });

    //Handle Scroll
    var prevScrollpos = window.pageYOffset;

    window.onscroll = function () {
        var currentScrollPos = window.pageYOffset;
        mainNav = document.querySelector('.main-nav');

        if (prevScrollpos > currentScrollPos) {
            mainNav.style.top = "0";
        } else {
            mainNav.style.top = "-100px";
        }

        prevScrollpos = currentScrollPos;
    }


    //gameRule-nav exchange button
    const eightBallBtn = document.querySelector('.eight-ball');
    const eightRule = document.querySelector('.eight-rule');
    //const nineBallBtn = document.querySelector('.nine-ball');
    const nineRule = document.querySelector('.nine-rule');
    const tenBallBtn = document.querySelector('.ten-ball');
    const tenRule = document.querySelector('.ten-rule');
    eightBallBtn.addEventListener('click', () => {
        eightBallBtn.classList.add('active');
        //nineBallBtn.classList.remove('active');
        tenBallBtn.classList.remove('active');
        window.scroll({
            top: 120,
            behavior: 'smooth'
        });
        eightRule.classList.remove('d-none');
        eightRule.classList.add('d-flex');
        nineRule.classList.add('d-none');
        nineRule.classList.remove('d-flex');
        tenRule.classList.add('d-none');
        tenRule.classList.remove('d-flex');
    });
    //nineBallBtn.addEventListener('click', () => {
    //    eightBallBtn.classList.remove('active');
    //    nineBallBtn.classList.add('active');
    //    tenBallBtn.classList.remove('active');
    //    window.scroll({
    //        top: 120,
    //        behavior: 'smooth'
    //    });
    //    eightRule.classList.add('d-none');
    //    eightRule.classList.remove('d-flex');
    //    nineRule.classList.remove('d-none');
    //    nineRule.classList.add('d-flex');
    //    tenRule.classList.add('d-none');
    //    tenRule.classList.remove('d-flex');
    //});
    tenBallBtn.addEventListener('click', () => {
        eightBallBtn.classList.remove('active');
        //nineBallBtn.classList.remove('active');
        tenBallBtn.classList.add('active');
        window.scroll({
            top: 120,
            behavior: 'smooth'
        });
        eightRule.classList.add('d-none');
        eightRule.classList.remove('d-flex');
        nineRule.classList.add('d-none');
        nineRule.classList.remove('d-flex');
        tenRule.classList.remove('d-none');
        tenRule.classList.add('d-flex');
    });



</script>