@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    string email = HttpContextAccessor.HttpContext.Request.Cookies["Email"];
}

@model PoolComVnWebClient.DTO.ChangePasswordDTO

<div class="container">
    <div class="changePass-page d-flex justify-content-center align-items-center">
        <div class="form-content d-flex col-10 col-lg-8 col-xl-6">
            <div class="changePass-form">
                <div class="changePass-title text-center">Đổi mật khẩu</div>
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["SuccessMessage"]
                    </div>
                }
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @TempData["ErrorMessage"]
                    </div>
                } 
                @if (TempData["ConfirmPasswordErrorMessage"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @TempData["ConfirmPasswordErrorMessage"]
                    </div>
                }
                <form method="post" asp-action="ChangePassword" asp-controller="Authentication">
                    <div class="input-form d-flex justify-content-center">
                        <input class="text-input col-10" type="hidden" asp-for="Email" value="@email">
                    </div>
                    <div class="input-form d-flex justify-content-center">
                        <input class="text-input col-10" type="password" asp-for="OldPassword" placeholder="Nhập mật khẩu hiện tại" required>
                    </div>
                    <div class="input-form d-flex justify-content-center">
                        <input class="text-input col-10" type="password" asp-for="NewPassword" placeholder="Nhập mật khẩu mới" required>
                    </div>
                    <div class="input-form d-flex justify-content-center">
                        <input class="text-input col-10" type="password" asp-for="ConfirmNewPassword" placeholder="Nhập lại mật khẩu mới" required>
                    </div>
                    <div class="input-form d-flex justify-content-center">
                        <input class="submit-btn col-6" type="submit" value="Đổi mật khẩu">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
