<div class="container">
    <div class="forgot-page d-flex justify-content-center align-items-center">
        <div class="form-content d-flex col-10 col-lg-8 col-xl-6">
            <div class="forgot-form ">
                <div class="forgot-title text-center">Quên mật khẩu?</div>
                <div class="forgot-description d-flex justify-content-center ">
                    <span>Nhớ mật khẩu của bạn?</span>&nbsp;
                    <a asp-controller="Authentication" action="Login">Đăng nhập</a>
                </div>
                <form asp-action="ForgotPassword" asp-controller="Authentication" method="post" class="">
                    <div class="input-form d-flex justify-content-center">
                        <input class="username-input col-10" type="text" name="email" placeholder="Email của bạn">
                    </div>

                    <div class="input-form d-flex justify-content-center">
                        <input class="submit-btn col-6" type="submit" value="Đặt lại mật khẩu">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>